<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dogs</title> 
    <meta name="Author" content="Shane Hussel">
    <meta name="Description" content="A demonstration project with AngularJS">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>[ng-cloak] { display: none; }</style>       
  </head>
  <body ng-app="dogs" ng-controller="dogsController" ng-cloak>

    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">Dogs</a>
    </nav>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">ID</a>
              <span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></th>
          <th><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name</a>
              <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></th>
          <th><a href="#" ng-click="sortType = 'breed'; sortReverse = !sortReverse">Breed</a>
              <span ng-show="sortType == 'breed' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'breed' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></th>
          <th><a href="#" ng-click="sortType = 'color'; sortReverse = !sortReverse">Color</a>
              <span ng-show="sortType == 'color' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'color' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></th>
          <th><a href="#" ng-click="sortType = 'weight'; sortReverse = !sortReverse">Weight</a>
              <span ng-show="sortType == 'weight' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'weight' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></th>
          <th><a href="#" ng-click="sortType = 'owner'; sortReverse = !sortReverse">Owner</a>
              <span ng-show="sortType == 'owner' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'owner' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="dog in dogs | orderBy:sortType:sortReverse">
          <td>{{ dog.id }}.</td>
          <td>{{ dog.name }}</td>
          <td>{{ dog.breed }}</td>
          <td>{{ dog.color }}</td>
          <td>{{ dog.weight }} lbs.</td>
          <td>{{ dog.owner }}</td>
        </tr>
      </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
