<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dogs</title> 
    <meta name="Author" content="Shane Hussel">
    <meta name="Description" content="A demonstration project with AngularJS">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>[ng-cloak] { display: none; }</style>       
  </head>
  <body ng-app="dogs" ng-controller="dogsController" ng-cloak>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Dogs</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">          
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <label for="searche">Search</label>
              <input type="text" class="form-control" placeholder="Search" name="search" ng-model="search.$">
            </div>
          </form>
        </div>
      </div>
    </nav>

    <table class="table table-striped table-bordered" ng-show="dogs">
      <thead>
        <tr>
          <th sort-header sort="sort" column="ID"></th>
          <th sort-header sort="sort" column="Name"></th>
          <th sort-header sort="sort" column="Breed"></th>
          <th sort-header sort="sort" column="Color"></th>
          <th sort-header sort="sort" column="Weight"></th>
          <th sort-header sort="sort" column="Owner"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="dog in dogs | filter:search:strict | orderBy:sort.column:sort.reverse">
          <td>{{ dog.ID }}.</td>
          <td>{{ dog.Name }}</td>
          <td>{{ dog.Breed }}</td>
          <td>{{ dog.Color }}</td>
          <td>{{ dog.Weight }} lbs.</td>
          <td>{{ dog.Owner }}</td>
        </tr>
      </tbody>
    </table>

    <p ng-show="error">{{ error }}</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="app.js"></script>

  </body>
</html>
